<form method="post">
    <div>
        <label>
            Name
        </label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label>
            Description
        </label>
        <input type="text" id="description" name="description">
    </div>
    <div>
        <label>
            Price
        </label>
        <input type="number" id="price" name="price">
    </div>
    <div>
        <label>
            Release Date
        </label>
        <input type="date" id="releaseDate" name="releaseDate">
    </div>
    <div>
        <label>
            Book Category
        </label>
        <input type="text" id="bookCategory" name="bookCategory">
    </div>
    <div>
        <label>
            Number Of Pages
        </label>
        <input type="number" id=" numberOfPages" name="numberOfPages">
    </div>
    <button type="submit">
    Submit
    </button>
    </form>
    
  