<form method="post">
    <div>
        <label>
            Name
        </label>
        <input value="<%= author.name %>" type="text" id="name" name="name">

    </div>
    <div>
        <label>
            Bio
        </label>
        <input  value="<%= author.bio %>" type="text" id="bio" name="bio">
    </div>
    <button type="submit">
    Submit
    </button>
</form>
    